.kastid {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.vasak {    
    display: flex;
    flex-direction: column;
    background: #FFF1BD;
    margin: 20px;
    
}

.parem {
    display: flex;
    flex-direction: column;
    background: #FFF1BD;
    flex-grow: 1;
    margin: 20px;
}

.pealkiri {
    background-color: #b5daa6;
}


.textbox {
    margin: 50px;
}


.kastid > div {
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}