.kastid {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.pilt {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.pildicontainer {
    display: flex;
    margin: 10px;
    margin-bottom: 10%;
}

.kontaktcontainer {    
    display: flex;
    flex-direction: column;
    background: #FFF1BD;
    flex-grow: 1;
    margin: 20px;
    width: 50%;
    height:50%;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 50px;
}

.tagasisidecontainer {
    display: flex;
    flex-direction: column;
    background: #FFF1BD;
    flex-grow: 1;
    margin: 20px;
    width: 50%;
    height: 100%;
    border-radius: 3px;
    margin-top: 50px;
    margin-right: 50px;
}

.pealkiri {
    border-radius: 3px;
    background-color: #b5daa6;
}

.textbox {
    text-align: center;
    margin: 20px;
}

.tagasisidekast {
    text-align: center;
}

.kastid > div {
  text-align: center;
  line-height: 75px;
}

#feedbackbutton{
    background-color:#146356;
}

#quote{
    background-color: #b5daa6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    border-radius: 3px;
}