* {
    font-family: Arial, sans-serif;
    color: #0f4940;
}
nav {
    display:flex;
    justify-content:space-around;
    background-color: #0f4940;
}

nav a {
    display:flex;
    justify-content:center;
    width:300px;
    border-radius: 3px;
    
}

nav a:hover {
    background-color: #3b786f;
}
  
nav a h2 {
    color:#FFF1BD;
}

a {
    text-decoration: none;
}

header {
    display:flex;
    flex-direction:column;
    background-color: #146356;
}

header h1 {
    display:flex;
    justify-content:center;
    border-radius: 3px;
    margin: 10px;
    padding: 4px;
    color:#FFF1BD;
}