#homepagebutton{
    background-color:#146356;
}
a:link{
    text-decoration:underline
}
a:hover {
    color:#3b786f
}

.tekst{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0px;
    margin-bottom: 20px;
    width:50%;
    background-color: #FFF1BD;
    padding:5px;
    border-radius: 3px;
    text-align:justify;
}
.pealkiri{
    background-color: #b5daa6;
    width: 50%;
    padding: 5px;
    margin-top:20px;
}
.main{
    display:flex;
    flex-direction:column;
}
