#homepagebutton{
    background-color:#146356;
}
a:link{
    text-decoration:underline;
}
a:hover {
    color:#3b786f;
}
nav a:link{
    text-decoration:none;
}

.tekst{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0px;
    margin-bottom: 20px;
    /*width:50%;*/
    background-color: #FFF1BD;
    padding:5px;
    border-radius: 3px;
    text-align:justify;
}
.pealkiri{
    background-color: #b5daa6;
    height: 50px;
    padding: 5px;
    padding-bottom: 25px;
    margin-top:20px;
    border-radius:3px;
}
.main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:30px;
    width:50%;
}
#main{
    display:flex;
    justify-content: center;
}
#pilt{
    display:flex;
    justify-content: left;
    border-radius:3px;
    padding:30px;
    margin-top: 20px;
    margin-bottom: 20px;

}