* {
    font-family: Arial, sans-serif;
    color: #0f4940;
}

ul {
    list-style-type: none;
}

li {
    margin:3px;
}

body {
    background-color: #E8E8CC;
}

a {
    text-decoration: none
}

header {
    display:flex;
    flex-direction:column;
    background-color: #146356;
}

header h1 {
    display:flex;
    justify-content:center;
    border-radius: 3px;
    margin: 10px;
    padding: 4px;
    color:#FFF1BD;
}




nav {
    display:flex;
    justify-content:space-around;
    background-color: #0f4940;
}

nav a {
    display:flex;
    justify-content:center;
    width:300px;
    border-radius: 3px;
    
}

nav a:hover {
    background-color: #3b786f;
  }
  
nav a h2 {
    color:#FFF1BD;
}

.main {
    display:flex;
    flex-direction:column;
}
.basic_inf{
    display:flex;
    flex-direction:row;
    background-color: #b5daa6;
    border-radius: 3px;
    padding:5px;
    color: #FFF1BD;

}

.food{
    background-color: #FFF1BD;
    border-radius: 3px;
    margin: 10px;
    height: 400px;
}

.food_basic h4 ul{
    display:flex;
    flex-direction:row;
    width:700px;
    justify-content:space-between;
}